{
  "openapi": "3.0.2",
  "info": {
    "title": "reporting",
    "license": {
      "name": "Creative Commons Zero v1.0 Universal",
      "url": "http://spdx.org/licenses/CC0-1.0.html"
    },
    "version": "10.0.1",
    "contact": {
      "name": "Den telemedicinske infrastruktur (eHealth Infrastructure)",
      "url": "http://ehealth.sundhed.dk"
    }
  },
  "servers": [
    {
      "url": "https://reporting.devtest.systematic-ehealth.com/fhir",
      "description": "eHealth reporting service"
    }
  ],
  "externalDocs": {
    "url": "http://ehealth.sundhed.dk/fhir/CapabilityStatement/reporting",
    "description": "FHIR CapabilityStatement"
  },
  "paths": {
    "/metadata": {
      "summary": "Access to the Server\u0027s Capability Statement",
      "description": "All FHIR Servers return a CapabilityStatement that describes what services they perform",
      "get": {
        "summary": "Return the server\u0027s capability statement",
        "operationId": "metadata",
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "the capbility statement",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/CapabilityStatement"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/CapabilityStatement.xsd"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/summary"
          },
          {
            "$ref": "#/components/parameters/elements"
          }
        ]
      }
    },
    "/Binary/{rid}": {
      "summary": "Read/Write/etc resource instance of type Binary",
      "description": "Access to services to manage the state of a single resource of type Binary",
      "get": {
        "summary": "Read the current state of the resource",
        "operationId": "readBinary",
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "the resource being returned",
            "headers": {
              "ETag": {
                "description": "Version from Resource.meta.version as a weak ETag",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Binary"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/Binary.xsd"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/rid"
          },
          {
            "$ref": "#/components/parameters/summary"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/elements"
          }
        ]
      },
      "delete": {
        "summary": "Delete the resource so that it no exists (no read, search etc)",
        "operationId": "deleteBinary",
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "204": {
            "description": "If the resource is deleted - no content is returned",
            "headers": {
              "ETag": {
                "description": "Version from Resource.meta.version as a weak ETag",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/rid"
          }
        ]
      }
    },
    "/Binary/{rid}/_history/{hid}": {
      "summary": "Read a past version of resource instance of type Binary",
      "description": "Access a to specified previous version of a single resource of type Binary",
      "get": {
        "summary": "Read a past state of the resource",
        "operationId": "vreadBinary",
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "the resource being returned",
            "headers": {
              "ETag": {
                "description": "Version from Resource.meta.version as a weak ETag for that version",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Binary"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/Binary.xsd"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/rid"
          },
          {
            "$ref": "#/components/parameters/hid"
          },
          {
            "$ref": "#/components/parameters/summary"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/elements"
          }
        ]
      }
    },
    "/OperationDefinition/{rid}": {
      "summary": "Read/Write/etc resource instance of type OperationDefinition",
      "description": "Access to services to manage the state of a single resource of type OperationDefinition",
      "get": {
        "summary": "Read the current state of the resource",
        "operationId": "readOperationDefinition",
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "the resource being returned",
            "headers": {
              "ETag": {
                "description": "Version from Resource.meta.version as a weak ETag",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationDefinition"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationDefinition.xsd"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/rid"
          },
          {
            "$ref": "#/components/parameters/summary"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "$ref": "#/components/parameters/elements"
          }
        ]
      }
    },
    "/$reindex": {
      "summary": "System level operation $reindex",
      "description": "Operation $reindex invoked at the system level",
      "post": {
        "summary": "$reindex (system)",
        "operationId": "op-reindex-system",
        "requestBody": {
          "description": "Operation parameters",
          "required": false,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Parameters"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "https://hl7.org/fhir/R4/Parameters.xsd"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "Operation response",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Parameters"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/Parameters.xsd"
                }
              }
            }
          }
        }
      }
    },
    "/$hapi.fhir.reindex-status": {
      "summary": "System level operation $hapi.fhir.reindex-status",
      "description": "Operation $hapi.fhir.reindex-status invoked at the system level",
      "post": {
        "summary": "$hapi.fhir.reindex-status (system)",
        "operationId": "op-hapi.fhir.reindex-status-system",
        "requestBody": {
          "description": "Operation parameters",
          "required": false,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Parameters"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "https://hl7.org/fhir/R4/Parameters.xsd"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "Operation response",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Parameters"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/Parameters.xsd"
                }
              }
            }
          }
        }
      }
    },
    "/$get-report-job-status": {
      "summary": "System level operation $get-report-job-status",
      "description": "Operation $get-report-job-status invoked at the system level",
      "post": {
        "summary": "$get-report-job-status (system)",
        "description": "### Status Contents \nThis operation returns status for reports scheduled by the user (by schedule or execute)\n### Output\nThe output is a Bundle containing Parameters resources for each scheduled report.\nThe parts of the Parameters describe the class of report, the parameters that the report\nwas scheduled with, the user ID, the status of the report, a reference to the report Binary\nand time of creation, start, and end of execution.\n### Example output\n{\n  \u0027resourceType\u0027: \u0027Bundle\u0027,\n  \u0027type\u0027: \u0027collection\u0027,\n  \u0027entry\u0027: [\n    {\n      \u0027fullUrl\u0027: \u0027ce35bcd5-4bb2-4c6e-b230-5347df1fe9bc\u0027,\n      \u0027resource\u0027: {\n        \u0027resourceType\u0027: \u0027Parameters\u0027,\n        \u0027id\u0027: \u0027ce35bcd5-4bb2-4c6e-b230-5347df1fe9bc\u0027,\n        \u0027parameter\u0027: [\n          {\n            \u0027name\u0027: \u0027reportJob\u0027,\n            \u0027part\u0027: [\n              {\n                \u0027name\u0027: \u0027reportClass\u0027,\n                \u0027valueString\u0027: \u0027com.systematic.ehealth.reporting.reports.PatientsUsageReport\u0027\n              },\n              {\n                \u0027name\u0027: \u0027userId\u0027,\n                \u0027valueString\u0027: \u00270aaca7cd-67c3-48dd-a8c4-0cceecb5d276\u0027\n              },\n              {\n                \u0027name\u0027: \u0027status\u0027,\n                \u0027valueString\u0027: \u0027DONE\u0027\n              },\n              {\n                \u0027name\u0027: \u0027binary\u0027,\n                \u0027valueReference\u0027: {\n                  \u0027reference\u0027: \u0027https://reporting.local.ehealth.sundhed.dk/fhir/Binary/7\u0027\n                }\n              },\n              {\n                \u0027name\u0027: \u0027parameters\u0027,\n                \u0027resource\u0027: {\n                  \u0027resourceType\u0027: \u0027Parameters\u0027,\n                  \u0027parameter\u0027: [\n                    {\n                      \u0027name\u0027: \u0027anonymization\u0027,\n                      \u0027valueString\u0027: \u0027None\u0027\n                    }\n                  ]\n                }\n              },\n              {\n                \u0027name\u0027: \u0027created\u0027,\n                \u0027valueDateTime\u0027: \u00272023-10-12T09:51:50+00:00\u0027\n              },\n              {\n                \u0027name\u0027: \u0027started\u0027,\n                \u0027valueDateTime\u0027: \u00272023-10-12T09:51:50+00:00\u0027\n              },\n              {\n                \u0027name\u0027: \u0027ended\u0027,\n                \u0027valueDateTime\u0027: \u00272023-10-12T09:51:51+00:00\u0027\n              }\n            ]\n          }\n        ]\n      }\n    }\n  ]\n}",
        "operationId": "op-get-report-job-status-system",
        "requestBody": {
          "description": "Operation parameters",
          "required": false,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Parameters"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "https://hl7.org/fhir/R4/Parameters.xsd"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "Operation response",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Parameters"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/Parameters.xsd"
                }
              }
            }
          }
        }
      }
    },
    "/$schedule-questionnaireresponses": {
      "summary": "System level operation $schedule-questionnaireresponses",
      "description": "Operation $schedule-questionnaireresponses invoked at the system level",
      "post": {
        "summary": "$schedule-questionnaireresponses (system)",
        "description": "### Report Contents\nThis report contains a collection of questionnaire responses and related resources\n- Organizations\n- CareTeams\n- PlanDefinitions\n- ActivityDefinitions\n- Questionnaires\n- QuestionnaireResponses\n- Communication\n- ServiceRequestSummary\n### Grouping \nThis report is grouped by Questionnaire. Each group is returned as a FHIR bundle in a separate JSon file.\n### Parameters\n- organization: Filter on EpisodeOfCare.managingOrganization match\n- condition: Filter on CarePlan.addresses.code match\n- period: Filter on QuestionnaireResponse.authored within period\n- plan: Filter on Plan match\n- questionnaire: Filter on ActivityDefinition.composed-of match\n- careteam: Filter on careteam in CarePlan.careteam or EpisodeOfCare.team\n- tag: Filter on tag match\n\n### Output\nOutput can be found in Binary.content. This is a Base64 encoded .zip file containing JSon files corresponding to the report groups.\n### Example output\n### Output\n{\n  \u0027resourceType\u0027 : \u0027Bundle\u0027,\n  \u0027id\u0027 : \u0027Questionnaire/44529\u0027,\n  \u0027entry\u0027 : [ {\n    \u0027fullUrl\u0027 : \u0027https://plan.local.ehealth.sundhed.dk/fhir/PlanDefinition/24206/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027PlanDefinition\u0027,\n      \u0027id\u0027 : \u002724206\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-plandefinition\u0027 ]\n      },\n      \u0027extension\u0027 : [ {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-modifier-role\u0027,\n        \u0027extension\u0027 : [ {\n          \u0027url\u0027 : \u0027reference\u0027,\n          \u0027valueReference\u0027 : {\n            \u0027reference\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/Organization/14291\u0027\n          }\n        }, {\n          \u0027url\u0027 : \u0027role\u0027,\n          \u0027valueCodeableConcept\u0027 : {\n            \u0027coding\u0027 : [ {\n              \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/modifier-role\u0027,\n              \u0027code\u0027 : \u0027owner\u0027\n            } ]\n          }\n        } ]\n      } ],\n      \u0027version\u0027 : \u00271.0\u0027,\n      \u0027status\u0027 : \u0027active\u0027,\n      \u0027action\u0027 : [ {\n        \u0027definitionCanonical\u0027 : \u0027https://plan.local.ehealth.sundhed.dk/fhir/ActivityDefinition/10919\u0027\n      } ]\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027https://plan.local.ehealth.sundhed.dk/fhir/ActivityDefinition/10919/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027ActivityDefinition\u0027,\n      \u0027id\u0027 : \u002710919\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-activitydefinition\u0027 ]\n      },\n      \u0027extension\u0027 : [ {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-sharingPolicy\u0027,\n        \u0027valueCodeableConcept\u0027 : {\n          \u0027coding\u0027 : [ {\n            \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/measurement-sharing-policies\u0027,\n            \u0027code\u0027 : \u0027noSharing\u0027\n          } ]\n        }\n      }, {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-modifier-role\u0027,\n        \u0027extension\u0027 : [ {\n          \u0027url\u0027 : \u0027reference\u0027,\n          \u0027valueReference\u0027 : {\n            \u0027reference\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/Organization/25403\u0027\n          }\n        }, {\n          \u0027url\u0027 : \u0027role\u0027,\n          \u0027valueCodeableConcept\u0027 : {\n            \u0027coding\u0027 : [ {\n              \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/modifier-role\u0027,\n              \u0027code\u0027 : \u0027owner\u0027\n            } ]\n          }\n        } ]\n      } ],\n      \u0027version\u0027 : \u00271.0\u0027,\n      \u0027name\u0027 : \u00270ca879ed-678c-4439-aa4a-efc597f92dfb\u0027,\n      \u0027status\u0027 : \u0027active\u0027,\n      \u0027topic\u0027 : [ {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027http://terminology.hl7.org/CodeSystem/definition-topic\u0027,\n          \u0027code\u0027 : \u0027treatment\u0027\n        } ]\n      } ],\n      \u0027relatedArtifact\u0027 : [ {\n        \u0027type\u0027 : \u0027composed-of\u0027,\n        \u0027resource\u0027 : \u0027https://questionnaire.local.ehealth.sundhed.dk/fhir/Questionnaire/44529\u0027\n      } ],\n      \u0027code\u0027 : {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/activitydefinition-code\u0027,\n          \u0027code\u0027 : \u0027273586006\u0027\n        } ]\n      }\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027https://questionnaire.local.ehealth.sundhed.dk/fhir/Questionnaire/44529/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027Questionnaire\u0027,\n      \u0027id\u0027 : \u002744529\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-questionnaire\u0027 ]\n      },\n      \u0027extension\u0027 : [ {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-questionnaire-type\u0027,\n        \u0027valueCodeableConcept\u0027 : {\n          \u0027coding\u0027 : [ {\n            \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/questionnaire-types\u0027,\n            \u0027code\u0027 : \u0027QQ\u0027\n          } ]\n        }\n      }, {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-modifier-role\u0027,\n        \u0027extension\u0027 : [ {\n          \u0027url\u0027 : \u0027reference\u0027,\n          \u0027valueReference\u0027 : {\n            \u0027reference\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/Organization/24153\u0027\n          }\n        }, {\n          \u0027url\u0027 : \u0027role\u0027,\n          \u0027valueCodeableConcept\u0027 : {\n            \u0027coding\u0027 : [ {\n              \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/modifier-role\u0027,\n              \u0027code\u0027 : \u0027owner\u0027\n            } ]\n          }\n        } ]\n      } ],\n      \u0027version\u0027 : \u00271.0\u0027,\n      \u0027name\u0027 : \u0027090b990e-046a-4374-b7c6-b08613a41cce\u0027,\n      \u0027status\u0027 : \u0027active\u0027\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/Organization/98618/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027Organization\u0027,\n      \u0027id\u0027 : \u002798618\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-organization\u0027 ]\n      },\n      \u0027extension\u0027 : [ {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-organization-source\u0027,\n        \u0027valueCodeableConcept\u0027 : {\n          \u0027coding\u0027 : [ {\n            \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/organization-source\u0027,\n            \u0027code\u0027 : \u0027manual\u0027\n          } ]\n        }\n      }, {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-organization-synchronizationStatus\u0027,\n        \u0027valueCodeableConcept\u0027 : {\n          \u0027coding\u0027 : [ {\n            \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/organization-synchronization-status\u0027,\n            \u0027code\u0027 : \u0027NotSynchronized\u0027\n          } ]\n        }\n      } ],\n      \u0027identifier\u0027 : [ {\n        \u0027use\u0027 : \u0027official\u0027,\n        \u0027system\u0027 : \u0027urn:oid:2.16.840.1.113883.2.24.1.1\u0027,\n        \u0027value\u0027 : \u002711111111\u0027,\n        \u0027period\u0027 : {\n          \u0027start\u0027 : \u00272023-10-10T14:49:12+02:00\u0027\n        }\n      } ],\n      \u0027active\u0027 : false,\n      \u0027name\u0027 : \u0027defaultTestFactory-be16f47b-1f8a-4440-a02e-23da1219b0ca\u0027,\n      \u0027partOf\u0027 : {\n        \u0027reference\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/Organization/22124\u0027\n      }\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/CareTeam/87455/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027CareTeam\u0027,\n      \u0027id\u0027 : \u002787455\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-careteam\u0027 ]\n      },\n      \u0027identifier\u0027 : [ {\n        \u0027system\u0027 : \u0027urn:ietf:rfc:3986\u0027,\n        \u0027value\u0027 : \u0027urn:uuid:9658ef5f-019a-4c90-9c41-f3ad14a31777\u0027\n      } ],\n      \u0027status\u0027 : \u0027active\u0027,\n      \u0027name\u0027 : \u00271b900db5-09dd-4563-b612-2b81201fab16\u0027,\n      \u0027reasonCode\u0027 : [ {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027urn:oid:1.2.208.176.2.4\u0027,\n          \u0027code\u0027 : \u0027DJ44\u0027\n        } ]\n      } ]\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027https://measurement.local.ehealth.sundhed.dk/fhir/QuestionnaireResponse/92491/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027QuestionnaireResponse\u0027,\n      \u0027id\u0027 : \u002792491\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-questionnaireresponse\u0027 ]\n      },\n      \u0027extension\u0027 : [ {\n        \u0027url\u0027 : \u0027http://hl7.org/fhir/StructureDefinition/workflow-episodeOfCare\u0027,\n        \u0027valueReference\u0027 : {\n          \u0027reference\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/EpisodeOfCare/22208\u0027\n        }\n      }, {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-resolved-timing\u0027,\n        \u0027extension\u0027 : [ {\n          \u0027url\u0027 : \u0027serviceRequestVersionId\u0027,\n          \u0027valueId\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/ServiceRequest/79439/_history/1\u0027\n        }, {\n          \u0027url\u0027 : \u0027start\u0027,\n          \u0027valueDateTime\u0027 : \u00272023-10-10T14:49:12+02:00\u0027\n        }, {\n          \u0027url\u0027 : \u0027end\u0027,\n          \u0027valueDateTime\u0027 : \u00272023-10-10T14:49:12+02:00\u0027\n        }, {\n          \u0027url\u0027 : \u0027type\u0027,\n          \u0027valueCodeableConcept\u0027 : {\n            \u0027coding\u0027 : [ {\n              \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/resolved-timing-type\u0027,\n              \u0027code\u0027 : \u0027Resolved\u0027\n            } ]\n          }\n        } ]\n      } ],\n      \u0027basedOn\u0027 : [ {\n        \u0027reference\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/ServiceRequest/79439\u0027\n      } ],\n      \u0027questionnaire\u0027 : \u0027https://questionnaire.local.ehealth.sundhed.dk/fhir/Questionnaire/44529\u0027,\n      \u0027status\u0027 : \u0027completed\u0027,\n      \u0027subject\u0027 : {\n        \u0027reference\u0027 : \u0027https://patient.local.ehealth.sundhed.dk/fhir/Patient/64465\u0027\n      },\n      \u0027authored\u0027 : \u00272023-10-10T14:49:12+02:00\u0027,\n      \u0027source\u0027 : {\n        \u0027reference\u0027 : \u0027https://patient.local.ehealth.sundhed.dk/fhir/Patient/75218\u0027\n      }\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027https://patient.local.ehealth.sundhed.dk/fhir/Communication/97180/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027Communication\u0027,\n      \u0027id\u0027 : \u002797180\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-communication\u0027 ]\n      },\n      \u0027extension\u0027 : [ {\n        \u0027url\u0027 : \u0027http://hl7.org/fhir/StructureDefinition/workflow-episodeOfCare\u0027,\n        \u0027valueReference\u0027 : {\n          \u0027reference\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/EpisodeOfCare/14233\u0027\n        }\n      }, {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-restriction-category\u0027,\n        \u0027valueCodeableConcept\u0027 : {\n          \u0027coding\u0027 : [ {\n            \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/restriction-category\u0027,\n            \u0027code\u0027 : \u0027None\u0027\n          } ]\n        }\n      } ],\n      \u0027basedOn\u0027 : [ {\n        \u0027reference\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/ServiceRequest/79439\u0027\n      } ],\n      \u0027status\u0027 : \u0027in-progress\u0027,\n      \u0027category\u0027 : [ {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/communication-category\u0027,\n          \u0027code\u0027 : \u0027annotation\u0027\n        } ]\n      }, {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/message-category\u0027,\n          \u0027code\u0027 : \u0027advice\u0027\n        } ]\n      } ],\n      \u0027subject\u0027 : {\n        \u0027reference\u0027 : \u0027https://patient.local.ehealth.sundhed.dk/fhir/Patient/35194\u0027\n      },\n      \u0027topic\u0027 : {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027http://terminology.hl7.org/CodeSystem/communication-topic\u0027,\n          \u0027code\u0027 : \u0027report-labs\u0027\n        } ]\n      },\n      \u0027sent\u0027 : \u00272023-10-10T14:49:12+02:00\u0027,\n      \u0027reasonCode\u0027 : [ {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/message-reasonCode\u0027,\n          \u0027code\u0027 : \u0027ReminderSubmitMeasurement\u0027\n        } ]\n      } ]\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027urn:uuid:57cfd6a7-dd43-4caa-8220-d50c77aebd8b\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027Parameters\u0027,\n      \u0027parameter\u0027 : [ {\n        \u0027name\u0027 : \u0027serviceRequestResponseSummary\u0027,\n        \u0027part\u0027 : [ {\n          \u0027name\u0027 : \u0027serviceRequest\u0027,\n          \u0027valueReference\u0027 : {\n            \u0027reference\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/ServiceRequest/79439\u0027\n          },\n          \u0027part\u0027 : [ {\n            \u0027name\u0027 : \u0027condition\u0027,\n            \u0027valueCoding\u0027 : {\n              \u0027system\u0027 : \u0027urn:oid:1.2.208.176.2.4\u0027,\n              \u0027code\u0027 : \u0027DJ44\u0027,\n              \u0027display\u0027 : \u0027Kronisk obstruktiv lungesygdom\u0027\n            }\n          }, {\n            \u0027name\u0027 : \u0027episodeOfCareManagingOrganization\u0027,\n            \u0027valueReference\u0027 : {\n              \u0027reference\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/Organization/98618\u0027\n            }\n          }, {\n            \u0027name\u0027 : \u0027episodeOfCarePeriod\u0027,\n            \u0027valuePeriod\u0027 : {\n              \u0027start\u0027 : \u00271970-01-01T01:00:01+01:00\u0027,\n              \u0027end\u0027 : \u00271970-01-01T01:01:40+01:00\u0027\n            }\n          }, {\n            \u0027name\u0027 : \u0027patientIdentifier\u0027,\n            \u0027valueIdentifier\u0027 : {\n              \u0027system\u0027 : \u0027urn:oid:1.2.208.176.1.2\u0027,\n              \u0027value\u0027 : \u00270101010001\u0027\n            }\n          }, {\n            \u0027name\u0027 : \u0027statusHistory\u0027,\n            \u0027part\u0027 : [ {\n              \u0027name\u0027 : \u0027statusPeriod\u0027,\n              \u0027part\u0027 : [ {\n                \u0027name\u0027 : \u0027status\u0027,\n                \u0027valueCoding\u0027 : {\n                  \u0027system\u0027 : \u0027http://hl7.org/fhir/request-status\u0027,\n                  \u0027code\u0027 : \u0027draft\u0027\n                }\n              }, {\n                \u0027name\u0027 : \u0027period\u0027,\n                \u0027valuePeriod\u0027 : {\n                  \u0027start\u0027 : \u00272023-10-02T12:49:12+00:00\u0027,\n                  \u0027end\u0027 : \u00272023-10-03T12:49:12+00:00\u0027\n                }\n              } ]\n            }, {\n              \u0027name\u0027 : \u0027statusPeriod\u0027,\n              \u0027part\u0027 : [ {\n                \u0027name\u0027 : \u0027status\u0027,\n                \u0027valueCoding\u0027 : {\n                  \u0027system\u0027 : \u0027http://hl7.org/fhir/request-status\u0027,\n                  \u0027code\u0027 : \u0027active\u0027\n                }\n              }, {\n                \u0027name\u0027 : \u0027period\u0027,\n                \u0027valuePeriod\u0027 : {\n                  \u0027start\u0027 : \u00272023-10-03T12:49:12+00:00\u0027,\n                  \u0027end\u0027 : \u00272023-10-04T12:49:12+00:00\u0027\n                }\n              } ]\n            }, {\n              \u0027name\u0027 : \u0027statusPeriod\u0027,\n              \u0027part\u0027 : [ {\n                \u0027name\u0027 : \u0027status\u0027,\n                \u0027valueCoding\u0027 : {\n                  \u0027system\u0027 : \u0027http://hl7.org/fhir/request-status\u0027,\n                  \u0027code\u0027 : \u0027on-hold\u0027\n                }\n              }, {\n                \u0027name\u0027 : \u0027period\u0027,\n                \u0027valuePeriod\u0027 : {\n                  \u0027start\u0027 : \u00272023-10-04T12:49:12+00:00\u0027,\n                  \u0027end\u0027 : \u00272023-10-05T12:49:12+00:00\u0027\n                }\n              } ]\n            }, {\n              \u0027name\u0027 : \u0027statusPeriod\u0027,\n              \u0027part\u0027 : [ {\n                \u0027name\u0027 : \u0027status\u0027,\n                \u0027valueCoding\u0027 : {\n                  \u0027system\u0027 : \u0027http://hl7.org/fhir/request-status\u0027,\n                  \u0027code\u0027 : \u0027active\u0027\n                }\n              }, {\n                \u0027name\u0027 : \u0027period\u0027,\n                \u0027valuePeriod\u0027 : {\n                  \u0027start\u0027 : \u00272023-10-05T12:49:12+00:00\u0027,\n                  \u0027end\u0027 : \u00272023-10-08T12:49:12+00:00\u0027\n                }\n              } ]\n            }, {\n              \u0027name\u0027 : \u0027statusPeriod\u0027,\n              \u0027part\u0027 : [ {\n                \u0027name\u0027 : \u0027status\u0027,\n                \u0027valueCoding\u0027 : {\n                  \u0027system\u0027 : \u0027http://hl7.org/fhir/request-status\u0027,\n                  \u0027code\u0027 : \u0027on-hold\u0027\n                }\n              }, {\n                \u0027name\u0027 : \u0027period\u0027,\n                \u0027valuePeriod\u0027 : {\n                  \u0027start\u0027 : \u00272023-10-08T12:49:12+00:00\u0027\n                }\n              } ]\n            } ]\n          }, {\n            \u0027name\u0027 : \u0027involvedCareTeams\u0027,\n            \u0027part\u0027 : [ {\n              \u0027name\u0027 : \u0027careTeam\u0027,\n              \u0027valueReference\u0027 : {\n                \u0027reference\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/CareTeam/87455\u0027\n              }\n            } ]\n          }, {\n            \u0027name\u0027 : \u0027responses\u0027,\n            \u0027part\u0027 : [ {\n              \u0027name\u0027 : \u0027response\u0027,\n              \u0027part\u0027 : [ {\n                \u0027name\u0027 : \u0027occurrence\u0027,\n                \u0027part\u0027 : [ {\n                  \u0027name\u0027 : \u0027serviceRequestVersionId\u0027,\n                  \u0027valueId\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/ServiceRequest/79439/_history/1\u0027\n                }, {\n                  \u0027name\u0027 : \u0027start\u0027,\n                  \u0027valueDateTime\u0027 : \u00272023-10-10T14:49:12+02:00\u0027\n                }, {\n                  \u0027name\u0027 : \u0027end\u0027,\n                  \u0027valueDateTime\u0027 : \u00272023-10-10T14:49:12+02:00\u0027\n                }, {\n                  \u0027name\u0027 : \u0027type\u0027,\n                  \u0027valueCodeableConcept\u0027 : {\n                    \u0027coding\u0027 : [ {\n                      \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/resolved-timing-type\u0027,\n                      \u0027code\u0027 : \u0027Resolved\u0027\n                    } ]\n                  }\n                } ]\n              }, {\n                \u0027name\u0027 : \u0027questionnaireResponse\u0027,\n                \u0027valueReference\u0027 : {\n                  \u0027reference\u0027 : \u0027https://measurement.local.ehealth.sundhed.dk/fhir/QuestionnaireResponse/92491\u0027\n                }\n              }, {\n                \u0027name\u0027 : \u0027submitted\u0027,\n                \u0027valueDateTime\u0027 : \u00272023-10-10T12:49:12+00:00\u0027\n              } ]\n            } ]\n          }, {\n            \u0027name\u0027 : \u0027communications\u0027,\n            \u0027part\u0027 : [ {\n              \u0027name\u0027 : \u0027communication\u0027,\n              \u0027valueReference\u0027 : {\n                \u0027reference\u0027 : \u0027https://patient.local.ehealth.sundhed.dk/fhir/Communication/97180\u0027\n              }\n            } ]\n          } ]\n        } ]\n      } ]\n    }\n  } ]\n}",
        "operationId": "op-schedule-questionnaireresponses-system",
        "requestBody": {
          "description": "Operation parameters",
          "required": false,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Parameters"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "https://hl7.org/fhir/R4/Parameters.xsd"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "Operation response",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Parameters"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/Parameters.xsd"
                }
              }
            }
          }
        }
      }
    },
    "/$fetch-questionnaireresponses": {
      "summary": "System level operation $fetch-questionnaireresponses",
      "description": "Operation $fetch-questionnaireresponses invoked at the system level",
      "post": {
        "summary": "$fetch-questionnaireresponses (system)",
        "description": "### Report Contents\nThis report contains a collection of questionnaire responses and related resources\n- Organizations\n- CareTeams\n- PlanDefinitions\n- ActivityDefinitions\n- Questionnaires\n- QuestionnaireResponses\n- Communication\n- ServiceRequestSummary\n### Grouping \nThis report is grouped by Questionnaire. Each group is returned as a FHIR bundle in a separate JSon file.\n### Parameters\n- organization: Filter on EpisodeOfCare.managingOrganization match\n- condition: Filter on CarePlan.addresses.code match\n- period: Filter on QuestionnaireResponse.authored within period\n- plan: Filter on Plan match\n- questionnaire: Filter on ActivityDefinition.composed-of match\n- careteam: Filter on careteam in CarePlan.careteam or EpisodeOfCare.team\n- tag: Filter on tag match\n\n### Output\nOutput can be found in Binary.content. This is a Base64 encoded .zip file containing JSon files corresponding to the report groups.\n### Example output\n### Output\n{\n  \u0027resourceType\u0027 : \u0027Bundle\u0027,\n  \u0027id\u0027 : \u0027Questionnaire/44529\u0027,\n  \u0027entry\u0027 : [ {\n    \u0027fullUrl\u0027 : \u0027https://plan.local.ehealth.sundhed.dk/fhir/PlanDefinition/24206/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027PlanDefinition\u0027,\n      \u0027id\u0027 : \u002724206\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-plandefinition\u0027 ]\n      },\n      \u0027extension\u0027 : [ {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-modifier-role\u0027,\n        \u0027extension\u0027 : [ {\n          \u0027url\u0027 : \u0027reference\u0027,\n          \u0027valueReference\u0027 : {\n            \u0027reference\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/Organization/14291\u0027\n          }\n        }, {\n          \u0027url\u0027 : \u0027role\u0027,\n          \u0027valueCodeableConcept\u0027 : {\n            \u0027coding\u0027 : [ {\n              \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/modifier-role\u0027,\n              \u0027code\u0027 : \u0027owner\u0027\n            } ]\n          }\n        } ]\n      } ],\n      \u0027version\u0027 : \u00271.0\u0027,\n      \u0027status\u0027 : \u0027active\u0027,\n      \u0027action\u0027 : [ {\n        \u0027definitionCanonical\u0027 : \u0027https://plan.local.ehealth.sundhed.dk/fhir/ActivityDefinition/10919\u0027\n      } ]\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027https://plan.local.ehealth.sundhed.dk/fhir/ActivityDefinition/10919/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027ActivityDefinition\u0027,\n      \u0027id\u0027 : \u002710919\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-activitydefinition\u0027 ]\n      },\n      \u0027extension\u0027 : [ {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-sharingPolicy\u0027,\n        \u0027valueCodeableConcept\u0027 : {\n          \u0027coding\u0027 : [ {\n            \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/measurement-sharing-policies\u0027,\n            \u0027code\u0027 : \u0027noSharing\u0027\n          } ]\n        }\n      }, {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-modifier-role\u0027,\n        \u0027extension\u0027 : [ {\n          \u0027url\u0027 : \u0027reference\u0027,\n          \u0027valueReference\u0027 : {\n            \u0027reference\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/Organization/25403\u0027\n          }\n        }, {\n          \u0027url\u0027 : \u0027role\u0027,\n          \u0027valueCodeableConcept\u0027 : {\n            \u0027coding\u0027 : [ {\n              \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/modifier-role\u0027,\n              \u0027code\u0027 : \u0027owner\u0027\n            } ]\n          }\n        } ]\n      } ],\n      \u0027version\u0027 : \u00271.0\u0027,\n      \u0027name\u0027 : \u00270ca879ed-678c-4439-aa4a-efc597f92dfb\u0027,\n      \u0027status\u0027 : \u0027active\u0027,\n      \u0027topic\u0027 : [ {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027http://terminology.hl7.org/CodeSystem/definition-topic\u0027,\n          \u0027code\u0027 : \u0027treatment\u0027\n        } ]\n      } ],\n      \u0027relatedArtifact\u0027 : [ {\n        \u0027type\u0027 : \u0027composed-of\u0027,\n        \u0027resource\u0027 : \u0027https://questionnaire.local.ehealth.sundhed.dk/fhir/Questionnaire/44529\u0027\n      } ],\n      \u0027code\u0027 : {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/activitydefinition-code\u0027,\n          \u0027code\u0027 : \u0027273586006\u0027\n        } ]\n      }\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027https://questionnaire.local.ehealth.sundhed.dk/fhir/Questionnaire/44529/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027Questionnaire\u0027,\n      \u0027id\u0027 : \u002744529\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-questionnaire\u0027 ]\n      },\n      \u0027extension\u0027 : [ {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-questionnaire-type\u0027,\n        \u0027valueCodeableConcept\u0027 : {\n          \u0027coding\u0027 : [ {\n            \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/questionnaire-types\u0027,\n            \u0027code\u0027 : \u0027QQ\u0027\n          } ]\n        }\n      }, {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-modifier-role\u0027,\n        \u0027extension\u0027 : [ {\n          \u0027url\u0027 : \u0027reference\u0027,\n          \u0027valueReference\u0027 : {\n            \u0027reference\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/Organization/24153\u0027\n          }\n        }, {\n          \u0027url\u0027 : \u0027role\u0027,\n          \u0027valueCodeableConcept\u0027 : {\n            \u0027coding\u0027 : [ {\n              \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/modifier-role\u0027,\n              \u0027code\u0027 : \u0027owner\u0027\n            } ]\n          }\n        } ]\n      } ],\n      \u0027version\u0027 : \u00271.0\u0027,\n      \u0027name\u0027 : \u0027090b990e-046a-4374-b7c6-b08613a41cce\u0027,\n      \u0027status\u0027 : \u0027active\u0027\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/Organization/98618/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027Organization\u0027,\n      \u0027id\u0027 : \u002798618\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-organization\u0027 ]\n      },\n      \u0027extension\u0027 : [ {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-organization-source\u0027,\n        \u0027valueCodeableConcept\u0027 : {\n          \u0027coding\u0027 : [ {\n            \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/organization-source\u0027,\n            \u0027code\u0027 : \u0027manual\u0027\n          } ]\n        }\n      }, {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-organization-synchronizationStatus\u0027,\n        \u0027valueCodeableConcept\u0027 : {\n          \u0027coding\u0027 : [ {\n            \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/organization-synchronization-status\u0027,\n            \u0027code\u0027 : \u0027NotSynchronized\u0027\n          } ]\n        }\n      } ],\n      \u0027identifier\u0027 : [ {\n        \u0027use\u0027 : \u0027official\u0027,\n        \u0027system\u0027 : \u0027urn:oid:2.16.840.1.113883.2.24.1.1\u0027,\n        \u0027value\u0027 : \u002711111111\u0027,\n        \u0027period\u0027 : {\n          \u0027start\u0027 : \u00272023-10-10T14:49:12+02:00\u0027\n        }\n      } ],\n      \u0027active\u0027 : false,\n      \u0027name\u0027 : \u0027defaultTestFactory-be16f47b-1f8a-4440-a02e-23da1219b0ca\u0027,\n      \u0027partOf\u0027 : {\n        \u0027reference\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/Organization/22124\u0027\n      }\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/CareTeam/87455/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027CareTeam\u0027,\n      \u0027id\u0027 : \u002787455\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-careteam\u0027 ]\n      },\n      \u0027identifier\u0027 : [ {\n        \u0027system\u0027 : \u0027urn:ietf:rfc:3986\u0027,\n        \u0027value\u0027 : \u0027urn:uuid:9658ef5f-019a-4c90-9c41-f3ad14a31777\u0027\n      } ],\n      \u0027status\u0027 : \u0027active\u0027,\n      \u0027name\u0027 : \u00271b900db5-09dd-4563-b612-2b81201fab16\u0027,\n      \u0027reasonCode\u0027 : [ {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027urn:oid:1.2.208.176.2.4\u0027,\n          \u0027code\u0027 : \u0027DJ44\u0027\n        } ]\n      } ]\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027https://measurement.local.ehealth.sundhed.dk/fhir/QuestionnaireResponse/92491/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027QuestionnaireResponse\u0027,\n      \u0027id\u0027 : \u002792491\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-questionnaireresponse\u0027 ]\n      },\n      \u0027extension\u0027 : [ {\n        \u0027url\u0027 : \u0027http://hl7.org/fhir/StructureDefinition/workflow-episodeOfCare\u0027,\n        \u0027valueReference\u0027 : {\n          \u0027reference\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/EpisodeOfCare/22208\u0027\n        }\n      }, {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-resolved-timing\u0027,\n        \u0027extension\u0027 : [ {\n          \u0027url\u0027 : \u0027serviceRequestVersionId\u0027,\n          \u0027valueId\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/ServiceRequest/79439/_history/1\u0027\n        }, {\n          \u0027url\u0027 : \u0027start\u0027,\n          \u0027valueDateTime\u0027 : \u00272023-10-10T14:49:12+02:00\u0027\n        }, {\n          \u0027url\u0027 : \u0027end\u0027,\n          \u0027valueDateTime\u0027 : \u00272023-10-10T14:49:12+02:00\u0027\n        }, {\n          \u0027url\u0027 : \u0027type\u0027,\n          \u0027valueCodeableConcept\u0027 : {\n            \u0027coding\u0027 : [ {\n              \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/resolved-timing-type\u0027,\n              \u0027code\u0027 : \u0027Resolved\u0027\n            } ]\n          }\n        } ]\n      } ],\n      \u0027basedOn\u0027 : [ {\n        \u0027reference\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/ServiceRequest/79439\u0027\n      } ],\n      \u0027questionnaire\u0027 : \u0027https://questionnaire.local.ehealth.sundhed.dk/fhir/Questionnaire/44529\u0027,\n      \u0027status\u0027 : \u0027completed\u0027,\n      \u0027subject\u0027 : {\n        \u0027reference\u0027 : \u0027https://patient.local.ehealth.sundhed.dk/fhir/Patient/64465\u0027\n      },\n      \u0027authored\u0027 : \u00272023-10-10T14:49:12+02:00\u0027,\n      \u0027source\u0027 : {\n        \u0027reference\u0027 : \u0027https://patient.local.ehealth.sundhed.dk/fhir/Patient/75218\u0027\n      }\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027https://patient.local.ehealth.sundhed.dk/fhir/Communication/97180/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027Communication\u0027,\n      \u0027id\u0027 : \u002797180\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-communication\u0027 ]\n      },\n      \u0027extension\u0027 : [ {\n        \u0027url\u0027 : \u0027http://hl7.org/fhir/StructureDefinition/workflow-episodeOfCare\u0027,\n        \u0027valueReference\u0027 : {\n          \u0027reference\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/EpisodeOfCare/14233\u0027\n        }\n      }, {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-restriction-category\u0027,\n        \u0027valueCodeableConcept\u0027 : {\n          \u0027coding\u0027 : [ {\n            \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/restriction-category\u0027,\n            \u0027code\u0027 : \u0027None\u0027\n          } ]\n        }\n      } ],\n      \u0027basedOn\u0027 : [ {\n        \u0027reference\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/ServiceRequest/79439\u0027\n      } ],\n      \u0027status\u0027 : \u0027in-progress\u0027,\n      \u0027category\u0027 : [ {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/communication-category\u0027,\n          \u0027code\u0027 : \u0027annotation\u0027\n        } ]\n      }, {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/message-category\u0027,\n          \u0027code\u0027 : \u0027advice\u0027\n        } ]\n      } ],\n      \u0027subject\u0027 : {\n        \u0027reference\u0027 : \u0027https://patient.local.ehealth.sundhed.dk/fhir/Patient/35194\u0027\n      },\n      \u0027topic\u0027 : {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027http://terminology.hl7.org/CodeSystem/communication-topic\u0027,\n          \u0027code\u0027 : \u0027report-labs\u0027\n        } ]\n      },\n      \u0027sent\u0027 : \u00272023-10-10T14:49:12+02:00\u0027,\n      \u0027reasonCode\u0027 : [ {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/message-reasonCode\u0027,\n          \u0027code\u0027 : \u0027ReminderSubmitMeasurement\u0027\n        } ]\n      } ]\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027urn:uuid:57cfd6a7-dd43-4caa-8220-d50c77aebd8b\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027Parameters\u0027,\n      \u0027parameter\u0027 : [ {\n        \u0027name\u0027 : \u0027serviceRequestResponseSummary\u0027,\n        \u0027part\u0027 : [ {\n          \u0027name\u0027 : \u0027serviceRequest\u0027,\n          \u0027valueReference\u0027 : {\n            \u0027reference\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/ServiceRequest/79439\u0027\n          },\n          \u0027part\u0027 : [ {\n            \u0027name\u0027 : \u0027condition\u0027,\n            \u0027valueCoding\u0027 : {\n              \u0027system\u0027 : \u0027urn:oid:1.2.208.176.2.4\u0027,\n              \u0027code\u0027 : \u0027DJ44\u0027,\n              \u0027display\u0027 : \u0027Kronisk obstruktiv lungesygdom\u0027\n            }\n          }, {\n            \u0027name\u0027 : \u0027episodeOfCareManagingOrganization\u0027,\n            \u0027valueReference\u0027 : {\n              \u0027reference\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/Organization/98618\u0027\n            }\n          }, {\n            \u0027name\u0027 : \u0027episodeOfCarePeriod\u0027,\n            \u0027valuePeriod\u0027 : {\n              \u0027start\u0027 : \u00271970-01-01T01:00:01+01:00\u0027,\n              \u0027end\u0027 : \u00271970-01-01T01:01:40+01:00\u0027\n            }\n          }, {\n            \u0027name\u0027 : \u0027patientIdentifier\u0027,\n            \u0027valueIdentifier\u0027 : {\n              \u0027system\u0027 : \u0027urn:oid:1.2.208.176.1.2\u0027,\n              \u0027value\u0027 : \u00270101010001\u0027\n            }\n          }, {\n            \u0027name\u0027 : \u0027statusHistory\u0027,\n            \u0027part\u0027 : [ {\n              \u0027name\u0027 : \u0027statusPeriod\u0027,\n              \u0027part\u0027 : [ {\n                \u0027name\u0027 : \u0027status\u0027,\n                \u0027valueCoding\u0027 : {\n                  \u0027system\u0027 : \u0027http://hl7.org/fhir/request-status\u0027,\n                  \u0027code\u0027 : \u0027draft\u0027\n                }\n              }, {\n                \u0027name\u0027 : \u0027period\u0027,\n                \u0027valuePeriod\u0027 : {\n                  \u0027start\u0027 : \u00272023-10-02T12:49:12+00:00\u0027,\n                  \u0027end\u0027 : \u00272023-10-03T12:49:12+00:00\u0027\n                }\n              } ]\n            }, {\n              \u0027name\u0027 : \u0027statusPeriod\u0027,\n              \u0027part\u0027 : [ {\n                \u0027name\u0027 : \u0027status\u0027,\n                \u0027valueCoding\u0027 : {\n                  \u0027system\u0027 : \u0027http://hl7.org/fhir/request-status\u0027,\n                  \u0027code\u0027 : \u0027active\u0027\n                }\n              }, {\n                \u0027name\u0027 : \u0027period\u0027,\n                \u0027valuePeriod\u0027 : {\n                  \u0027start\u0027 : \u00272023-10-03T12:49:12+00:00\u0027,\n                  \u0027end\u0027 : \u00272023-10-04T12:49:12+00:00\u0027\n                }\n              } ]\n            }, {\n              \u0027name\u0027 : \u0027statusPeriod\u0027,\n              \u0027part\u0027 : [ {\n                \u0027name\u0027 : \u0027status\u0027,\n                \u0027valueCoding\u0027 : {\n                  \u0027system\u0027 : \u0027http://hl7.org/fhir/request-status\u0027,\n                  \u0027code\u0027 : \u0027on-hold\u0027\n                }\n              }, {\n                \u0027name\u0027 : \u0027period\u0027,\n                \u0027valuePeriod\u0027 : {\n                  \u0027start\u0027 : \u00272023-10-04T12:49:12+00:00\u0027,\n                  \u0027end\u0027 : \u00272023-10-05T12:49:12+00:00\u0027\n                }\n              } ]\n            }, {\n              \u0027name\u0027 : \u0027statusPeriod\u0027,\n              \u0027part\u0027 : [ {\n                \u0027name\u0027 : \u0027status\u0027,\n                \u0027valueCoding\u0027 : {\n                  \u0027system\u0027 : \u0027http://hl7.org/fhir/request-status\u0027,\n                  \u0027code\u0027 : \u0027active\u0027\n                }\n              }, {\n                \u0027name\u0027 : \u0027period\u0027,\n                \u0027valuePeriod\u0027 : {\n                  \u0027start\u0027 : \u00272023-10-05T12:49:12+00:00\u0027,\n                  \u0027end\u0027 : \u00272023-10-08T12:49:12+00:00\u0027\n                }\n              } ]\n            }, {\n              \u0027name\u0027 : \u0027statusPeriod\u0027,\n              \u0027part\u0027 : [ {\n                \u0027name\u0027 : \u0027status\u0027,\n                \u0027valueCoding\u0027 : {\n                  \u0027system\u0027 : \u0027http://hl7.org/fhir/request-status\u0027,\n                  \u0027code\u0027 : \u0027on-hold\u0027\n                }\n              }, {\n                \u0027name\u0027 : \u0027period\u0027,\n                \u0027valuePeriod\u0027 : {\n                  \u0027start\u0027 : \u00272023-10-08T12:49:12+00:00\u0027\n                }\n              } ]\n            } ]\n          }, {\n            \u0027name\u0027 : \u0027involvedCareTeams\u0027,\n            \u0027part\u0027 : [ {\n              \u0027name\u0027 : \u0027careTeam\u0027,\n              \u0027valueReference\u0027 : {\n                \u0027reference\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/CareTeam/87455\u0027\n              }\n            } ]\n          }, {\n            \u0027name\u0027 : \u0027responses\u0027,\n            \u0027part\u0027 : [ {\n              \u0027name\u0027 : \u0027response\u0027,\n              \u0027part\u0027 : [ {\n                \u0027name\u0027 : \u0027occurrence\u0027,\n                \u0027part\u0027 : [ {\n                  \u0027name\u0027 : \u0027serviceRequestVersionId\u0027,\n                  \u0027valueId\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/ServiceRequest/79439/_history/1\u0027\n                }, {\n                  \u0027name\u0027 : \u0027start\u0027,\n                  \u0027valueDateTime\u0027 : \u00272023-10-10T14:49:12+02:00\u0027\n                }, {\n                  \u0027name\u0027 : \u0027end\u0027,\n                  \u0027valueDateTime\u0027 : \u00272023-10-10T14:49:12+02:00\u0027\n                }, {\n                  \u0027name\u0027 : \u0027type\u0027,\n                  \u0027valueCodeableConcept\u0027 : {\n                    \u0027coding\u0027 : [ {\n                      \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/resolved-timing-type\u0027,\n                      \u0027code\u0027 : \u0027Resolved\u0027\n                    } ]\n                  }\n                } ]\n              }, {\n                \u0027name\u0027 : \u0027questionnaireResponse\u0027,\n                \u0027valueReference\u0027 : {\n                  \u0027reference\u0027 : \u0027https://measurement.local.ehealth.sundhed.dk/fhir/QuestionnaireResponse/92491\u0027\n                }\n              }, {\n                \u0027name\u0027 : \u0027submitted\u0027,\n                \u0027valueDateTime\u0027 : \u00272023-10-10T12:49:12+00:00\u0027\n              } ]\n            } ]\n          }, {\n            \u0027name\u0027 : \u0027communications\u0027,\n            \u0027part\u0027 : [ {\n              \u0027name\u0027 : \u0027communication\u0027,\n              \u0027valueReference\u0027 : {\n                \u0027reference\u0027 : \u0027https://patient.local.ehealth.sundhed.dk/fhir/Communication/97180\u0027\n              }\n            } ]\n          } ]\n        } ]\n      } ]\n    }\n  } ]\n}",
        "operationId": "op-fetch-questionnaireresponses-system",
        "requestBody": {
          "description": "Operation parameters",
          "required": false,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Parameters"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "https://hl7.org/fhir/R4/Parameters.xsd"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "Operation response",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Parameters"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/Parameters.xsd"
                }
              }
            }
          }
        }
      }
    },
    "/$execute-questionnaireresponses": {
      "summary": "System level operation $execute-questionnaireresponses",
      "description": "Operation $execute-questionnaireresponses invoked at the system level",
      "post": {
        "summary": "$execute-questionnaireresponses (system)",
        "description": "### Report Contents\nThis report contains a collection of questionnaire responses and related resources\n- Organizations\n- CareTeams\n- PlanDefinitions\n- ActivityDefinitions\n- Questionnaires\n- QuestionnaireResponses\n- Communication\n- ServiceRequestSummary\n### Grouping \nThis report is grouped by Questionnaire. Each group is returned as a FHIR bundle in a separate JSon file.\n### Parameters\n- organization: Filter on EpisodeOfCare.managingOrganization match\n- condition: Filter on CarePlan.addresses.code match\n- period: Filter on QuestionnaireResponse.authored within period\n- plan: Filter on Plan match\n- questionnaire: Filter on ActivityDefinition.composed-of match\n- careteam: Filter on careteam in CarePlan.careteam or EpisodeOfCare.team\n- tag: Filter on tag match\n\n### Output\nOutput can be found in Binary.content. This is a Base64 encoded .zip file containing JSon files corresponding to the report groups.\n### Example output\n### Output\n{\n  \u0027resourceType\u0027 : \u0027Bundle\u0027,\n  \u0027id\u0027 : \u0027Questionnaire/44529\u0027,\n  \u0027entry\u0027 : [ {\n    \u0027fullUrl\u0027 : \u0027https://plan.local.ehealth.sundhed.dk/fhir/PlanDefinition/24206/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027PlanDefinition\u0027,\n      \u0027id\u0027 : \u002724206\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-plandefinition\u0027 ]\n      },\n      \u0027extension\u0027 : [ {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-modifier-role\u0027,\n        \u0027extension\u0027 : [ {\n          \u0027url\u0027 : \u0027reference\u0027,\n          \u0027valueReference\u0027 : {\n            \u0027reference\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/Organization/14291\u0027\n          }\n        }, {\n          \u0027url\u0027 : \u0027role\u0027,\n          \u0027valueCodeableConcept\u0027 : {\n            \u0027coding\u0027 : [ {\n              \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/modifier-role\u0027,\n              \u0027code\u0027 : \u0027owner\u0027\n            } ]\n          }\n        } ]\n      } ],\n      \u0027version\u0027 : \u00271.0\u0027,\n      \u0027status\u0027 : \u0027active\u0027,\n      \u0027action\u0027 : [ {\n        \u0027definitionCanonical\u0027 : \u0027https://plan.local.ehealth.sundhed.dk/fhir/ActivityDefinition/10919\u0027\n      } ]\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027https://plan.local.ehealth.sundhed.dk/fhir/ActivityDefinition/10919/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027ActivityDefinition\u0027,\n      \u0027id\u0027 : \u002710919\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-activitydefinition\u0027 ]\n      },\n      \u0027extension\u0027 : [ {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-sharingPolicy\u0027,\n        \u0027valueCodeableConcept\u0027 : {\n          \u0027coding\u0027 : [ {\n            \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/measurement-sharing-policies\u0027,\n            \u0027code\u0027 : \u0027noSharing\u0027\n          } ]\n        }\n      }, {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-modifier-role\u0027,\n        \u0027extension\u0027 : [ {\n          \u0027url\u0027 : \u0027reference\u0027,\n          \u0027valueReference\u0027 : {\n            \u0027reference\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/Organization/25403\u0027\n          }\n        }, {\n          \u0027url\u0027 : \u0027role\u0027,\n          \u0027valueCodeableConcept\u0027 : {\n            \u0027coding\u0027 : [ {\n              \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/modifier-role\u0027,\n              \u0027code\u0027 : \u0027owner\u0027\n            } ]\n          }\n        } ]\n      } ],\n      \u0027version\u0027 : \u00271.0\u0027,\n      \u0027name\u0027 : \u00270ca879ed-678c-4439-aa4a-efc597f92dfb\u0027,\n      \u0027status\u0027 : \u0027active\u0027,\n      \u0027topic\u0027 : [ {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027http://terminology.hl7.org/CodeSystem/definition-topic\u0027,\n          \u0027code\u0027 : \u0027treatment\u0027\n        } ]\n      } ],\n      \u0027relatedArtifact\u0027 : [ {\n        \u0027type\u0027 : \u0027composed-of\u0027,\n        \u0027resource\u0027 : \u0027https://questionnaire.local.ehealth.sundhed.dk/fhir/Questionnaire/44529\u0027\n      } ],\n      \u0027code\u0027 : {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/activitydefinition-code\u0027,\n          \u0027code\u0027 : \u0027273586006\u0027\n        } ]\n      }\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027https://questionnaire.local.ehealth.sundhed.dk/fhir/Questionnaire/44529/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027Questionnaire\u0027,\n      \u0027id\u0027 : \u002744529\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-questionnaire\u0027 ]\n      },\n      \u0027extension\u0027 : [ {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-questionnaire-type\u0027,\n        \u0027valueCodeableConcept\u0027 : {\n          \u0027coding\u0027 : [ {\n            \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/questionnaire-types\u0027,\n            \u0027code\u0027 : \u0027QQ\u0027\n          } ]\n        }\n      }, {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-modifier-role\u0027,\n        \u0027extension\u0027 : [ {\n          \u0027url\u0027 : \u0027reference\u0027,\n          \u0027valueReference\u0027 : {\n            \u0027reference\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/Organization/24153\u0027\n          }\n        }, {\n          \u0027url\u0027 : \u0027role\u0027,\n          \u0027valueCodeableConcept\u0027 : {\n            \u0027coding\u0027 : [ {\n              \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/modifier-role\u0027,\n              \u0027code\u0027 : \u0027owner\u0027\n            } ]\n          }\n        } ]\n      } ],\n      \u0027version\u0027 : \u00271.0\u0027,\n      \u0027name\u0027 : \u0027090b990e-046a-4374-b7c6-b08613a41cce\u0027,\n      \u0027status\u0027 : \u0027active\u0027\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/Organization/98618/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027Organization\u0027,\n      \u0027id\u0027 : \u002798618\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-organization\u0027 ]\n      },\n      \u0027extension\u0027 : [ {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-organization-source\u0027,\n        \u0027valueCodeableConcept\u0027 : {\n          \u0027coding\u0027 : [ {\n            \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/organization-source\u0027,\n            \u0027code\u0027 : \u0027manual\u0027\n          } ]\n        }\n      }, {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-organization-synchronizationStatus\u0027,\n        \u0027valueCodeableConcept\u0027 : {\n          \u0027coding\u0027 : [ {\n            \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/organization-synchronization-status\u0027,\n            \u0027code\u0027 : \u0027NotSynchronized\u0027\n          } ]\n        }\n      } ],\n      \u0027identifier\u0027 : [ {\n        \u0027use\u0027 : \u0027official\u0027,\n        \u0027system\u0027 : \u0027urn:oid:2.16.840.1.113883.2.24.1.1\u0027,\n        \u0027value\u0027 : \u002711111111\u0027,\n        \u0027period\u0027 : {\n          \u0027start\u0027 : \u00272023-10-10T14:49:12+02:00\u0027\n        }\n      } ],\n      \u0027active\u0027 : false,\n      \u0027name\u0027 : \u0027defaultTestFactory-be16f47b-1f8a-4440-a02e-23da1219b0ca\u0027,\n      \u0027partOf\u0027 : {\n        \u0027reference\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/Organization/22124\u0027\n      }\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/CareTeam/87455/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027CareTeam\u0027,\n      \u0027id\u0027 : \u002787455\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-careteam\u0027 ]\n      },\n      \u0027identifier\u0027 : [ {\n        \u0027system\u0027 : \u0027urn:ietf:rfc:3986\u0027,\n        \u0027value\u0027 : \u0027urn:uuid:9658ef5f-019a-4c90-9c41-f3ad14a31777\u0027\n      } ],\n      \u0027status\u0027 : \u0027active\u0027,\n      \u0027name\u0027 : \u00271b900db5-09dd-4563-b612-2b81201fab16\u0027,\n      \u0027reasonCode\u0027 : [ {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027urn:oid:1.2.208.176.2.4\u0027,\n          \u0027code\u0027 : \u0027DJ44\u0027\n        } ]\n      } ]\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027https://measurement.local.ehealth.sundhed.dk/fhir/QuestionnaireResponse/92491/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027QuestionnaireResponse\u0027,\n      \u0027id\u0027 : \u002792491\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-questionnaireresponse\u0027 ]\n      },\n      \u0027extension\u0027 : [ {\n        \u0027url\u0027 : \u0027http://hl7.org/fhir/StructureDefinition/workflow-episodeOfCare\u0027,\n        \u0027valueReference\u0027 : {\n          \u0027reference\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/EpisodeOfCare/22208\u0027\n        }\n      }, {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-resolved-timing\u0027,\n        \u0027extension\u0027 : [ {\n          \u0027url\u0027 : \u0027serviceRequestVersionId\u0027,\n          \u0027valueId\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/ServiceRequest/79439/_history/1\u0027\n        }, {\n          \u0027url\u0027 : \u0027start\u0027,\n          \u0027valueDateTime\u0027 : \u00272023-10-10T14:49:12+02:00\u0027\n        }, {\n          \u0027url\u0027 : \u0027end\u0027,\n          \u0027valueDateTime\u0027 : \u00272023-10-10T14:49:12+02:00\u0027\n        }, {\n          \u0027url\u0027 : \u0027type\u0027,\n          \u0027valueCodeableConcept\u0027 : {\n            \u0027coding\u0027 : [ {\n              \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/resolved-timing-type\u0027,\n              \u0027code\u0027 : \u0027Resolved\u0027\n            } ]\n          }\n        } ]\n      } ],\n      \u0027basedOn\u0027 : [ {\n        \u0027reference\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/ServiceRequest/79439\u0027\n      } ],\n      \u0027questionnaire\u0027 : \u0027https://questionnaire.local.ehealth.sundhed.dk/fhir/Questionnaire/44529\u0027,\n      \u0027status\u0027 : \u0027completed\u0027,\n      \u0027subject\u0027 : {\n        \u0027reference\u0027 : \u0027https://patient.local.ehealth.sundhed.dk/fhir/Patient/64465\u0027\n      },\n      \u0027authored\u0027 : \u00272023-10-10T14:49:12+02:00\u0027,\n      \u0027source\u0027 : {\n        \u0027reference\u0027 : \u0027https://patient.local.ehealth.sundhed.dk/fhir/Patient/75218\u0027\n      }\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027https://patient.local.ehealth.sundhed.dk/fhir/Communication/97180/_history/1\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027Communication\u0027,\n      \u0027id\u0027 : \u002797180\u0027,\n      \u0027meta\u0027 : {\n        \u0027versionId\u0027 : \u00271\u0027,\n        \u0027profile\u0027 : [ \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-communication\u0027 ]\n      },\n      \u0027extension\u0027 : [ {\n        \u0027url\u0027 : \u0027http://hl7.org/fhir/StructureDefinition/workflow-episodeOfCare\u0027,\n        \u0027valueReference\u0027 : {\n          \u0027reference\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/EpisodeOfCare/14233\u0027\n        }\n      }, {\n        \u0027url\u0027 : \u0027http://ehealth.sundhed.dk/fhir/StructureDefinition/ehealth-restriction-category\u0027,\n        \u0027valueCodeableConcept\u0027 : {\n          \u0027coding\u0027 : [ {\n            \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/restriction-category\u0027,\n            \u0027code\u0027 : \u0027None\u0027\n          } ]\n        }\n      } ],\n      \u0027basedOn\u0027 : [ {\n        \u0027reference\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/ServiceRequest/79439\u0027\n      } ],\n      \u0027status\u0027 : \u0027in-progress\u0027,\n      \u0027category\u0027 : [ {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/communication-category\u0027,\n          \u0027code\u0027 : \u0027annotation\u0027\n        } ]\n      }, {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/message-category\u0027,\n          \u0027code\u0027 : \u0027advice\u0027\n        } ]\n      } ],\n      \u0027subject\u0027 : {\n        \u0027reference\u0027 : \u0027https://patient.local.ehealth.sundhed.dk/fhir/Patient/35194\u0027\n      },\n      \u0027topic\u0027 : {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027http://terminology.hl7.org/CodeSystem/communication-topic\u0027,\n          \u0027code\u0027 : \u0027report-labs\u0027\n        } ]\n      },\n      \u0027sent\u0027 : \u00272023-10-10T14:49:12+02:00\u0027,\n      \u0027reasonCode\u0027 : [ {\n        \u0027coding\u0027 : [ {\n          \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/message-reasonCode\u0027,\n          \u0027code\u0027 : \u0027ReminderSubmitMeasurement\u0027\n        } ]\n      } ]\n    }\n  }, {\n    \u0027fullUrl\u0027 : \u0027urn:uuid:57cfd6a7-dd43-4caa-8220-d50c77aebd8b\u0027,\n    \u0027resource\u0027 : {\n      \u0027resourceType\u0027 : \u0027Parameters\u0027,\n      \u0027parameter\u0027 : [ {\n        \u0027name\u0027 : \u0027serviceRequestResponseSummary\u0027,\n        \u0027part\u0027 : [ {\n          \u0027name\u0027 : \u0027serviceRequest\u0027,\n          \u0027valueReference\u0027 : {\n            \u0027reference\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/ServiceRequest/79439\u0027\n          },\n          \u0027part\u0027 : [ {\n            \u0027name\u0027 : \u0027condition\u0027,\n            \u0027valueCoding\u0027 : {\n              \u0027system\u0027 : \u0027urn:oid:1.2.208.176.2.4\u0027,\n              \u0027code\u0027 : \u0027DJ44\u0027,\n              \u0027display\u0027 : \u0027Kronisk obstruktiv lungesygdom\u0027\n            }\n          }, {\n            \u0027name\u0027 : \u0027episodeOfCareManagingOrganization\u0027,\n            \u0027valueReference\u0027 : {\n              \u0027reference\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/Organization/98618\u0027\n            }\n          }, {\n            \u0027name\u0027 : \u0027episodeOfCarePeriod\u0027,\n            \u0027valuePeriod\u0027 : {\n              \u0027start\u0027 : \u00271970-01-01T01:00:01+01:00\u0027,\n              \u0027end\u0027 : \u00271970-01-01T01:01:40+01:00\u0027\n            }\n          }, {\n            \u0027name\u0027 : \u0027patientIdentifier\u0027,\n            \u0027valueIdentifier\u0027 : {\n              \u0027system\u0027 : \u0027urn:oid:1.2.208.176.1.2\u0027,\n              \u0027value\u0027 : \u00270101010001\u0027\n            }\n          }, {\n            \u0027name\u0027 : \u0027statusHistory\u0027,\n            \u0027part\u0027 : [ {\n              \u0027name\u0027 : \u0027statusPeriod\u0027,\n              \u0027part\u0027 : [ {\n                \u0027name\u0027 : \u0027status\u0027,\n                \u0027valueCoding\u0027 : {\n                  \u0027system\u0027 : \u0027http://hl7.org/fhir/request-status\u0027,\n                  \u0027code\u0027 : \u0027draft\u0027\n                }\n              }, {\n                \u0027name\u0027 : \u0027period\u0027,\n                \u0027valuePeriod\u0027 : {\n                  \u0027start\u0027 : \u00272023-10-02T12:49:12+00:00\u0027,\n                  \u0027end\u0027 : \u00272023-10-03T12:49:12+00:00\u0027\n                }\n              } ]\n            }, {\n              \u0027name\u0027 : \u0027statusPeriod\u0027,\n              \u0027part\u0027 : [ {\n                \u0027name\u0027 : \u0027status\u0027,\n                \u0027valueCoding\u0027 : {\n                  \u0027system\u0027 : \u0027http://hl7.org/fhir/request-status\u0027,\n                  \u0027code\u0027 : \u0027active\u0027\n                }\n              }, {\n                \u0027name\u0027 : \u0027period\u0027,\n                \u0027valuePeriod\u0027 : {\n                  \u0027start\u0027 : \u00272023-10-03T12:49:12+00:00\u0027,\n                  \u0027end\u0027 : \u00272023-10-04T12:49:12+00:00\u0027\n                }\n              } ]\n            }, {\n              \u0027name\u0027 : \u0027statusPeriod\u0027,\n              \u0027part\u0027 : [ {\n                \u0027name\u0027 : \u0027status\u0027,\n                \u0027valueCoding\u0027 : {\n                  \u0027system\u0027 : \u0027http://hl7.org/fhir/request-status\u0027,\n                  \u0027code\u0027 : \u0027on-hold\u0027\n                }\n              }, {\n                \u0027name\u0027 : \u0027period\u0027,\n                \u0027valuePeriod\u0027 : {\n                  \u0027start\u0027 : \u00272023-10-04T12:49:12+00:00\u0027,\n                  \u0027end\u0027 : \u00272023-10-05T12:49:12+00:00\u0027\n                }\n              } ]\n            }, {\n              \u0027name\u0027 : \u0027statusPeriod\u0027,\n              \u0027part\u0027 : [ {\n                \u0027name\u0027 : \u0027status\u0027,\n                \u0027valueCoding\u0027 : {\n                  \u0027system\u0027 : \u0027http://hl7.org/fhir/request-status\u0027,\n                  \u0027code\u0027 : \u0027active\u0027\n                }\n              }, {\n                \u0027name\u0027 : \u0027period\u0027,\n                \u0027valuePeriod\u0027 : {\n                  \u0027start\u0027 : \u00272023-10-05T12:49:12+00:00\u0027,\n                  \u0027end\u0027 : \u00272023-10-08T12:49:12+00:00\u0027\n                }\n              } ]\n            }, {\n              \u0027name\u0027 : \u0027statusPeriod\u0027,\n              \u0027part\u0027 : [ {\n                \u0027name\u0027 : \u0027status\u0027,\n                \u0027valueCoding\u0027 : {\n                  \u0027system\u0027 : \u0027http://hl7.org/fhir/request-status\u0027,\n                  \u0027code\u0027 : \u0027on-hold\u0027\n                }\n              }, {\n                \u0027name\u0027 : \u0027period\u0027,\n                \u0027valuePeriod\u0027 : {\n                  \u0027start\u0027 : \u00272023-10-08T12:49:12+00:00\u0027\n                }\n              } ]\n            } ]\n          }, {\n            \u0027name\u0027 : \u0027involvedCareTeams\u0027,\n            \u0027part\u0027 : [ {\n              \u0027name\u0027 : \u0027careTeam\u0027,\n              \u0027valueReference\u0027 : {\n                \u0027reference\u0027 : \u0027https://organization.local.ehealth.sundhed.dk/fhir/CareTeam/87455\u0027\n              }\n            } ]\n          }, {\n            \u0027name\u0027 : \u0027responses\u0027,\n            \u0027part\u0027 : [ {\n              \u0027name\u0027 : \u0027response\u0027,\n              \u0027part\u0027 : [ {\n                \u0027name\u0027 : \u0027occurrence\u0027,\n                \u0027part\u0027 : [ {\n                  \u0027name\u0027 : \u0027serviceRequestVersionId\u0027,\n                  \u0027valueId\u0027 : \u0027https://careplan.local.ehealth.sundhed.dk/fhir/ServiceRequest/79439/_history/1\u0027\n                }, {\n                  \u0027name\u0027 : \u0027start\u0027,\n                  \u0027valueDateTime\u0027 : \u00272023-10-10T14:49:12+02:00\u0027\n                }, {\n                  \u0027name\u0027 : \u0027end\u0027,\n                  \u0027valueDateTime\u0027 : \u00272023-10-10T14:49:12+02:00\u0027\n                }, {\n                  \u0027name\u0027 : \u0027type\u0027,\n                  \u0027valueCodeableConcept\u0027 : {\n                    \u0027coding\u0027 : [ {\n                      \u0027system\u0027 : \u0027http://ehealth.sundhed.dk/cs/resolved-timing-type\u0027,\n                      \u0027code\u0027 : \u0027Resolved\u0027\n                    } ]\n                  }\n                } ]\n              }, {\n                \u0027name\u0027 : \u0027questionnaireResponse\u0027,\n                \u0027valueReference\u0027 : {\n                  \u0027reference\u0027 : \u0027https://measurement.local.ehealth.sundhed.dk/fhir/QuestionnaireResponse/92491\u0027\n                }\n              }, {\n                \u0027name\u0027 : \u0027submitted\u0027,\n                \u0027valueDateTime\u0027 : \u00272023-10-10T12:49:12+00:00\u0027\n              } ]\n            } ]\n          }, {\n            \u0027name\u0027 : \u0027communications\u0027,\n            \u0027part\u0027 : [ {\n              \u0027name\u0027 : \u0027communication\u0027,\n              \u0027valueReference\u0027 : {\n                \u0027reference\u0027 : \u0027https://patient.local.ehealth.sundhed.dk/fhir/Communication/97180\u0027\n              }\n            } ]\n          } ]\n        } ]\n      } ]\n    }\n  } ]\n}",
        "operationId": "op-execute-questionnaireresponses-system",
        "requestBody": {
          "description": "Operation parameters",
          "required": false,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Parameters"
              }
            },
            "application/fhir+xml": {
              "schema": {
                "$ref": "https://hl7.org/fhir/R4/Parameters.xsd"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Error, with details",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/OperationOutcome"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/OperationOutcome.xsd"
                }
              }
            }
          },
          "200": {
            "description": "Operation response",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/fhir.schema.json#/definitions/Parameters"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "https://hl7.org/fhir/R4/Parameters.xsd"
                }
              }
            }
          }
        }
      }
    },
    "/$schedule-patient-usage-stats": {
      "summary": "System level operation $schedule-patient-usage-stats",
      "description": "Operation $schedule-patient-usage-stats invoked at the system level",
      "post": {
        "summary": "$schedule-patient-usage-stats (system)",
        "description": "### Report Contents\nThis report contains an overview of the number of unique active citizens with Episodes of Care, shown both on monthly and yearly basis.\n### Grouping \nThis report is grouped by months and years. All groups are contained in the same JSON file.\n### Parameters\n- None\n### Output\nOutput can be found in Binary.content. This is a Base64 encoded .zip file containing a JSon file corresponding to the report groups.\n### Example output\nAll returned objects are Fhir resources. See the implementation guide for details\nFirst example is the monthly data:\n\n{\n\t\u0027PatientsUsageSummary\u0027: {\n\t\t\u0027monthData\u0027: [\n\t\t\t{\n\t\t\t\t\u0027month\u0027: \u00271\u0027,\n\t\t\t\t\u0027year\u0027: \u00271970\u0027,\n\t\t\t\t\u0027entries\u0027: [\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCareBeingActiveSevenOrMoreDays\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCare\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t},\n\t\t\t{\n\t\t\t\t\u0027month\u0027: \u00272\u0027,\n\t\t\t\t\u0027year\u0027: \u00271970\u0027,\n\t\t\t\t\u0027entries\u0027: [\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCareBeingActiveSevenOrMoreDays\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCare\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t},\n\t\t\t{\n\t\t\t\t\u0027month\u0027: \u00273\u0027,\n\t\t\t\t\u0027year\u0027: \u00271970\u0027,\n\t\t\t\t\u0027entries\u0027: [\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCareBeingActiveSevenOrMoreDays\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCare\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t},\n\t\t\t{\n\t\t\t\t\u0027month\u0027: \u00274\u0027,\n\t\t\t\t\u0027year\u0027: \u00271970\u0027,\n\t\t\t\t\u0027entries\u0027: [\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCareBeingActiveSevenOrMoreDays\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCare\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t},\n\t\t\t{\n\t\t\t\t\u0027month\u0027: \u00275\u0027,\n\t\t\t\t\u0027year\u0027: \u00271970\u0027,\n\t\t\t\t\u0027entries\u0027: [\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCareBeingActiveSevenOrMoreDays\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCare\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t},\n\t\t\t{\n\t\t\t\t\u0027month\u0027: \u00276\u0027,\n\t\t\t\t\u0027year\u0027: \u00271970\u0027,\n\t\t\t\t\u0027entries\u0027: [\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCareBeingActiveSevenOrMoreDays\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCare\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t},\n\t\t\t{\n\t\t\t\t\u0027month\u0027: \u00277\u0027,\n\t\t\t\t\u0027year\u0027: \u00271970\u0027,\n\t\t\t\t\u0027entries\u0027: [\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCareBeingActiveSevenOrMoreDays\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCare\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t},\n\t\t\t{\n\t\t\t\t\u0027month\u0027: \u00278\u0027,\n\t\t\t\t\u0027year\u0027: \u00271970\u0027,\n\t\t\t\t\u0027entries\u0027: [\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCareBeingActiveSevenOrMoreDays\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCare\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t},\n\t\t\t{\n\t\t\t\t\u0027month\u0027: \u00279\u0027,\n\t\t\t\t\u0027year\u0027: \u00271970\u0027,\n\t\t\t\t\u0027entries\u0027: [\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCareBeingActiveSevenOrMoreDays\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCare\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t},\n\t\t\t{\n\t\t\t\t\u0027month\u0027: \u002710\u0027,\n\t\t\t\t\u0027year\u0027: \u00271970\u0027,\n\t\t\t\t\u0027entries\u0027: [\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCareBeingActiveSevenOrMoreDays\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCare\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t},\n\t\t\t{\n\t\t\t\t\u0027month\u0027: \u002711\u0027,\n\t\t\t\t\u0027year\u0027: \u00271970\u0027,\n\t\t\t\t\u0027entries\u0027: [\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCareBeingActiveSevenOrMoreDays\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCare\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t},\n\t\t\t{\n\t\t\t\t\u0027month\u0027: \u002712\u0027,\n\t\t\t\t\u0027year\u0027: \u00271970\u0027,\n\t\t\t\t\u0027entries\u0027: [\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCareBeingActiveSevenOrMoreDays\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCare\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 1,\n\t\t\t\t\t\t\u0027percentChangeFromLastMonth\u0027: 0.0\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t}\n      ]\n   }\n}\n\nSecond example is the yearly data:\n\n{\n\t\u0027PatientsUsageSummary\u0027: {\n\t\t\u0027yearData\u0027: [\n\t\t\t{\n\t\t\t\t\u0027year\u0027: \u00271970\u0027,\n\t\t\t\t\u0027entries\u0027: [\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCareBeingActiveSevenOrMoreDays\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 12,\n\t\t\t\t\t\t\u0027average\u0027: 1.0,\n\t\t\t\t\t\t\u0027usageBaseline\u0027: 10000,\n\t\t\t\t\t\t\u0027averageRounded\u0027: 1000.0,\n\t\t\t\t\t\t\u0027averageBeyondBaseline\u0027: 0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\u0027name\u0027: \u0027uniquePatientsWithEpisodeOfCare\u0027,\n\t\t\t\t\t\t\u0027count\u0027: 12,\n\t\t\t\t\t\t\u00
[...]
